.inshort-section {
    background-color: #DEDEDE;
}

/****************************************************************************/
.video-section1 {
    background: url(../../assets/images/blog/optitrack5.png) no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 500px;
}

.video-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    padding: 0 20px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-intro a {
    display: inline-block;
    color: #fff;
    width: 70px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border: 1px solid #fff;
}
.video-intro a:hover {
    color: #68c3a3;
    background-color: #fff;
    border: 1px solid transparent;
}

.video-intro h2 {
    margin-top: 30px;
    text-transform: uppercase;
}



/******************************************************************************/
.works-section {
    color: #2c3e50;
    background-color: #f7f7f7;
}
.portfolio-item {
    padding-right: 5px;
    padding-left: 5px;
    min-height: 235px;
}
.portfolio-bg{
   background: #fff;
   padding: 5px;
   margin-bottom: 20px;
   border: 1px solid #eee;
   border-bottom: 3px double #eee;
}


.portfolio {
    position: relative;
    overflow: hidden;
}

.tt-overlay {
    position: absolute;
    background-color: rgba(26, 30, 31, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.portfolio-info,
.links,
.links a i,
.links a i::after,
.tt-overlay {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}


.links {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -20px;
    margin-left: -45px;
    opacity: 0;
    -webkit-transform: translate(0,-50px);
    -moz-transform: translate(0,-50px);
    -ms-transform: translate(0,-50px);
    -o-transform: translate(0,-50px);
    transform: translate(0,-50px);
}

.links a i{
    position: relative;
    color: #68c3a3;
    font-size: 16px;
    margin: 0 32px;
    z-index: 100;
}
.links a:hover i {
   color:  #fff;
}
.links a i::after{
    position: absolute;
    content: "";
    left: -7px;
    top: -7px;
    width: 30px;
    height: 30px;
    border: 1px solid #68c3a3;
    z-index: -1;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.links a:hover i::after {
    background-color: #68c3a3;
}

.portfolio-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #68c3a3;
    color: #fff;
    height: 45px;
    width: 100%;
    text-align: center;
}

.portfolio:hover .tt-overlay, 
.portfolio:hover .links {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.portfolio:hover .portfolio-info{
    bottom: 0;
}
.portfolio-info h3 {
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    margin: 0;
}


/*PopUp fade effect*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}